// xs — Extra Small Screens
@media (min-width: 320px) {

}

// s — Small Screens
@media (min-width: 640px) {
  body {
    main {
      .banner {
        background-position: -420px -50px;
        background-size: 160%;

        .banner-text {
          margin-top: 24rem;

          .prod-value {
            .txt-black {

            }
          }
        }
      }
    }
  }

}

// m — Medium Screens
@media (min-width: 960px) {

}

// l — Large Screens
@media (min-width: 1200px) {

}

// xl — Extra Large Screens
@media (min-width: 1600px) {

}
