// COLOR PALETTE

// Backgrounds
$mainColor: #FF5A00;
$grey: #DDDDDD;
$greyLigh: #F2F0EB;
$white: #FFFFFF;
$black: #000;

// Font Types
@font-face {
  font-family: Avenir, sans-serif;
  src: url("../font/avenir-next-ssv/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: Avenir-bold, sans-serif;
  src: url("../font/avenir-next-ssv/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: Avenir-condensed, sans-serif;
  src: url("../font/avenir-next-ssv/AvenirNextLTPro-DemiCn.otf");
}

@font-face {
  font-family: icomoon;
  src: url(../font/icomoon/icomoon.eot?e9sodp);
  src: url(../font/icomoon/icomoon.eot?e9sodp#iefix) format("embedded-opentype"),
  url(../font/icomoon/icomoon.ttf?e9sodp) format("truetype"),
  url(../font/icomoon/icomoon.woff?e9sodp) format("woff"),
  url(../font/icomoon/icomoon.svg?e9sodp#icomoon) format("svg");
  font-weight: 400;
  font-style: normal
}

$mainFont: Avenir, sans-serif;
$bold: Avenir-bold, sans-serif;
$condensed: Avenir-condensed, sans-serif;
$icomoon: icomoon;
