@font-face {
  font-family: Avenir, sans-serif;
  src: url("../font/avenir-next-ssv/AvenirNextLTPro-Regular.otf"); }

@font-face {
  font-family: Avenir-bold, sans-serif;
  src: url("../font/avenir-next-ssv/AvenirNextLTPro-Bold.otf"); }

@font-face {
  font-family: Avenir-condensed, sans-serif;
  src: url("../font/avenir-next-ssv/AvenirNextLTPro-DemiCn.otf"); }
